@import "variables";
@import "component-themes";

@include mat-core();

@include angular-material-theme($theme);
@include component-themes($theme);

.dark-theme {
  color: $dark-primary-text;
  $primary: mat-palette($mat-deep-orange, 500);
  $accent: mat-palette($mat-purple, 800, 900);
  $warn: mat-palette($mat-red);
  $theme: mat-dark-theme($primary, $accent, $warn);

  @include angular-material-theme($theme);
  @include component-themes($theme);
}
